
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --colornaranja: #ff8c00;
    --colordarkgrey:#666464;
    --colordarkdarkgrey:#222222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
}
html, body{
    width:100%;
    overflow-x:hidden;
}
.header-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.header-superior img{
    width: 70px;
    height: 70px;
}
.container {
    /* padding: 40px; */
    max-width: 1200px;
    height: 100%;
    /* position: fixed; */
    display: flex;
    margin: auto auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./perro-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#myVideo{
   display: none;
    
}

.form{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.form .input{
    font-size: 20px;
    width:100%;
    height:auto;
}

.input-campo {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    width: 200px;
    border-style: none;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
}

select {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    justify-content: center;
    /* width: 40%; */
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 6px;
    border: 1px solid white;
}

.box-title {
    padding: 0 5px;
    font-size:16px;
    font-weight: 500;
    color: var(--colornaranja);
}

.form-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px;
    color: var(--colornaranja);
    text-align: center;
}
#input-file{
    width: 90%;
    height: 25px;
    margin: 10px;
    font-size: 16px;
    border-style: none;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.input-traslado{
    margin: 10px 0px 10px 10px;
    padding: 10px;
}

label{
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.btn-enviar {
    margin: 10px;
    padding: 5px 25px;
    border-radius: 10px;
    width: 65%;
    height: 35px;
    align-items: center;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--colornaranja);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease-in;
}
.btn-enviar:hover{
    cursor: pointer;
    transform: scale(1.1);  
}
.header-superior a button {
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    align-items: center;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--colornaranja);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease-in;
}
.header-superior a button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
@media (min-width: 768px){
    .container{
        background-image: none;
    }
    #myVideo{
        display: block;
        max-width: 1200px;
        object-fit: cover;
        height: 100vh;
        position: fixed;
        margin: 25px;
        z-index: -1; 
    }
    .form-title{
        margin-top: 40px;
        font-size: 30px;
    }
    .box-title{
        font-size: 20px;
        font-weight: 700
    }

} 

